#Projects > h1, #other-content > h1, #meetMe > h1{
    color: #f68520;
    font-size: xx-large;
    margin-top: 2em;
    background-color: white;
    height: auto;
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    height: auto;
}



.content-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18em, 2fr));
    gap: 2em;
    grid-template-rows: 50% 50%;
    margin: 2em;
    padding: 2em;
    align-items: center;
    justify-items: center;
}

.content-boxes > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5em;
    margin: 0.1em;
    /* padding: 5em; */
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.548);
    height: 18em;
    width: 18em;
    color: black;
    background-color: #051b2e49;
}

.content-boxes :hover:not(.content-boxes > div > h3, p, i){
    transform: scale(1.1);
    transition: all 0.25s ease-in-out 0s;
    /* transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); */
}


.content-boxes > div > h3 > a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.content-boxes > div > i{
    font-size: xx-large;
    color: white;
    padding: 15%;
}

.content-boxes > div >p {
    margin: 5%;
}

.tech-used{
    /* position: relative; */
    color: #f68520;
    font-size: small;
    /* padding-bottom: 2%; */
    text-align: center;
    width: 80%;
}

#Projects{
    height: auto;
}

#other-content{
    height: auto;
}

#meetMe{
    display: flex;
    flex-direction: column;
    margin: 5em;
    padding: 5em;
    justify-content: center;
    align-items: center;
}

#meet-info > p{
    color: rgb(82, 81, 81);
    padding: 2em;
    width: 20em;
    font-size: large;
    text-align: center;
}

#meet-info > div {
    padding-top: 2em;
    display: flex;
    justify-content: center;
}

#mail-ico{
    background: #212121;
    padding: 1.2em 1.8em;
    color: white;
    display: inline-block;
    border: 2px solid #212121;
    border-radius: 5px;
}

#mail-ico{
    font-size: large;
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
}

#mail-ico:hover{
    background-color: whitesmoke;
    color: #212121;
}


hr{
    position: relative;
    left: 5%;
    width: 90%;
}

footer {
    margin: 1%;
    display: grid;
    grid-template-columns: auto auto;
    color: grey;
}

footer>#tnote{
    text-align: start;
    padding-left: 5em;
}

footer>#version {
    text-align: end;
    padding-right: 5em;
}