#alert{
    visibility: hidden;
}


@media screen and (max-width: 600px){
    *{
        position: absolute;
        visibility: hidden;
    }

    #alert{
        display: block;
        visibility: visible;
    }
}